*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
canvas{
    border: 2px solid white;
    margin-top: 20px
}

.container-canvas{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.score-container{
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
}
.jugador{
    width: 50%;
    float: left;
    text-align: center;
    top: 6px;
    position: relative;
    font-size: 20px;
    background: rgb(151, 126, 189);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #5b0257;



}

#canvas{
    border:flex;
}

.scoreboard{
    width: 200px;
    border-radius: 30px;
    text-align: center;
    top: 0px;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    box-shadow: 1px 1px 1px 1px #4f1c6d;

    font-size: 30px;
    background: rgb(170, 120, 227)
    
    
    
  }